# Ignorar arquivos de configuração sensíveis do Streamlit
.streamlit/secrets.toml
.streamlit/

# Ignorar arquivos temporários e caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log

# Ignorar arquivos locais que não devem subir
*.xlsx  # Evita subir os excels gerados localmente
